@model BlobLists
@{
    ViewData["Title"] = "Result Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@if (Model.Links.Count > 0)
{
<div>
    @foreach (string blobLink in Model.Links)
    {
        string id = (string)ViewData["id"];
        if (blobLink.Contains(id))
        { 
            <li><td> <a href="https://blobwebapprandingpolice.blob.core.windows.net/containerbrandingpolice/@(blobLink)">@blobLink</a></td> </li>
        }

    }
</div>
}

