<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4ee5329c-6ffc-4b8b-9996-2fc5c9a418c1/resourceGroups/KR1/providers/Microsoft.Web/sites/WebAppBrandingPolice</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://webappbrandingpolice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>webappbrandingpolice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppBrandingPolice</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppBrandingPolice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>